:root {
    --main-font:'Roboto', sans-serif;;
    --background-color: #fbfbfe;
    --text-color:#4c4c4c;
    --title-color:#000;
    --secondary-text-color:#fff;
    --secondaty-color:#92ca3d;
    --box-shadow-color: 0px 0px 5px 0px rgba(212,212,212,1);
    --box-shadow-box: 9px 3px 10px -5px rgba(25, 25, 25, 0.2);

    --border-radius: 1rem;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    font-weight: 300;
    color: var(--text-color);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex: 1;
    height: inherit;
}

/* -----------------header---------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;
    padding: 0 3rem;
    z-index: 1;
    box-shadow: var(--box-shadow-color);
}

.wrapper-img-header {
    margin: 0;
}

.wrapper-img-header img {
    width: 200px;
}

/* -------menu-header------- */
.container-menu-items {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.container-menu-items a:hover {
    color: var(--secondaty-color);
}

.menu-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.8rem;
    padding-left: 5rem;
    color: var(--title-color);
}

.menu,
.container-menu-items,
.menu-item,
.menu-item a {
    height: inherit;
}

/* ---------------Main section HERO--------------- */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 450px;
}

/* -------section hero description------- */
.name-logo-hero {
    margin: 0;
}

.name-logo-hero img {
    width: 350px;
}

.title-hero {
    font-size: 3rem;
    font-weight: 900;
}

.text-description-hero {
    font-size: 2rem;
}

.title-hero {
    margin: 2rem 0;
}

.text-description-hero {
    margin: 0;
}

.name-logo-hero,
.title-hero,
.text-description-hero {
    text-align: center;
}

/* -------image hero------- */
.hero-image {
    margin: 0;
    object-fit: cover;
}

.hero-image img {
    width: 480px;
}

/* -------------------Projects-------------------- */
.projects {
    position: relative;
    background-color: var(--background-color);
}

.title-projects {
    font-size: 2.5rem;
    padding-left: 2.5rem;
    margin: 0;
    padding: 2rem;
}

.projects-main-menu {
    height: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: var(--border-radius);
    background-color: #fff;
    box-shadow: var(--box-shadow-box);
}

/* -------select-box------- */
.select-button
{
    border: .1rem solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

.app-cover {
    width: 210px;
    height: 42px;
}

#select-button {
    position: relative;
    height: 1.6rem;
    padding: 1.2rem 1.4rem;
    background-color: #fff;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.select-box {
    position: relative;
}

#options-view-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

#selected-value {
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 400;
    margin-right: 2.6rem;
}

.option i {
    width: 1.6rem;
    height: 1.6rem;
}

.option,
.label {
    color: #000;
    font-size: 1.6rem;
}

#chevrons {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1.2rem;
    padding: .9rem 1.4rem;
}

#chevrons i {
    display: block;
    height: 50%;
    color: #d1dede;
    font-size: 1.2rem;
    text-align: right;
}

#options-view-button:checked + #select-button #chevrons i {
    color: #000;
}

.options {
    position: absolute;
    left: 0;
    width: 250px;
}

#options {
    position: absolute;
    top: 4.4rem;
    width: 298px;
    margin: 0 auto;
    z-index: 3;
    background-color: #fff;
    border-radius: var(--border-radius);
}

#options-view-button:checked ~ #options {
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

.option {
    position: relative;
    line-height: 1;
    transition: 0.3s ease all;
    z-index: 2;
}

.option i {
    position: absolute;
    left: 1.4rem;
    padding: 0;
    display: none;
}

#options-view-button:checked ~ #options .option i {
    display: block;
    padding: 1.2rem 0;
}

.label {
    display: none;
    padding: 0;
    margin-left: 2.7rem;
}

#options-view-button:checked ~ #options .label {
    display: block;
    padding: 1.2rem 1.4rem;
}

.s-c {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
}

.s-c.top {
    top: 0;
}

.s-c.bottom {
    bottom: 0;
}

input[type="radio"] {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.s-c:hover ~ i {
    color: #fff;
    opacity: 0;
}

.s-c:hover {
    height: 100%;
    z-index: 1;
}

.s-c.bottom:hover + i {
    bottom: -2.5rem;
    animation: moveup 0.3s ease 0.1s forwards;
}

.s-c.top:hover ~ i {
    top: -2.5rem;
    animation: movedown 0.3s ease 0.1s forwards;
}

@keyframes moveup {
    0%{ bottom: -2.5rem; opacity: 0;}
    100%{ bottom: 0; opacity: 1;}
}

@keyframes movedown {
    0%{ top: -2.5rem; opacity: 0;}
    100%{ top: 0; opacity: 1;}
}

.label {
    transition: 0.3s ease all;
}

.opt-val {
    position: absolute;
    left: 1.4rem;
    width: 155px;
    height: 2.1rem;
    opacity: 0;
    background-color: #fff;
    transform: scale(0);
}

.option input[type="radio"]:checked ~ .opt-val {
    opacity: 1;
    transform: scale(1);
}

.option input[type="radio"]:checked ~ i {
    top: 0;
    bottom: auto;
    opacity: 1;
    animation: unset;
}

.option input[type="radio"]:checked ~ i, .option input[type="radio"]:checked ~ .label {
    color:#fff;
}

.option input[type="radio"]:checked ~ .label:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#options-view-button:not(:checked) ~ #options .option input[type="radio"]:checked ~ .opt-val {
    top: -30px;
}

.option:nth-child(1) input[type="radio"]:checked ~ .label:before {
    background-color: #aeda00;
    border-radius: var(--border-radius);
}

.option:nth-child(1) input[type="radio"]:checked ~ .opt-val {
    top: -3.1rem;
}

.option:nth-child(2) input[type="radio"]:checked ~ .label:before {
    background-color: #00874d;
    border-radius: var(--border-radius);
}

.option:nth-child(2) input[type="radio"]:checked ~ .opt-val {
    top: -7.1rem;
}

.option .fa-laptop-code {
    color: #aeda00;
}

.option .fa-code {
    color: #00874d;
}

#option-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 4rem;
    transition: 0.3s ease all;
    z-index: 1;
    display: none;
}

#options-view-button:checked ~ #options #option-bg {
    display: block;
}

.option:hover .label {
    color: #fff;
}

.option:nth-child(1):hover ~ #option-bg {
    top: 0;
    background-color: #aeda00;
    border-radius: var(--border-radius);
}

.option:nth-child(2):hover ~ #option-bg {
    top: 4rem;
    background-color: #00874d;
    border-radius: var(--border-radius);
}

/* -------menu projects------- */
.portfolio-menu li {
    display: inline-block;
    list-style: none;
}

.portfolio-menu input[type="radio"] {
    display: none;
}

.portfolio-menu label {
    display: inline-block;
    font-size: 1.7rem;
    padding: .8rem 1.7rem;
    cursor: pointer;
    border-radius: .5rem;
}

.portfolio-menu label:hover {
    color: var(--secondaty-color);
}

.portfolio-menu input[type="radio"]:checked + label {
    font-weight: 600;
    background-color: var(--secondaty-color);
    color: #fff;
}

/* -------projects realizados------- */
.fulfilled-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    justify-items: center;
    grid-row-gap: 3rem;
}

.project-wrapper {
    width: 277.984px;
    height: 156.359px;
    padding: 1rem 1rem 5rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: var(--box-shadow-box);
}

.project-figure {
    position: relative;
    width: 100%;
    height: inherit;
    margin: 0;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    background-color: #f5f5f5;
}

.project-figure img {
    width: inherit;
    height: inherit;
    transition: all 500ms ease-out;
}

.text-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease-out;
    background-color: rgba(0, 0, 0, .8);
}

.project-figure:hover > .text-hover {
    opacity: 1;
    visibility: visible;
}

.open-modal{
    padding: 0 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 500ms ease-out;
    color: #fff;
}

.text-link-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-name,
.project-link-btn {
    font-size: 1.5rem;
    font-weight: 600;
}

.project-name {
    color:var(--title-color);
}

.project-link-btn {
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 50%;
    color: #fff;
    background-color: var(--secondaty-color);
    box-shadow: var(--box-shadow-color);
}

/* -----------Modal------------ */
.container-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
}

.container-modal:target {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0,0,0,.8);
}

.popup {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-areas:"text button"
                        "image description";
    grid-gap: 2rem;
    width: 100%;
    max-width: 85vw;
    max-height: 90vh;
    padding: 2rem;
    border-radius: var(--border-radius);
    background-color: #fff;
    overflow-y: auto;
}

/* --------------title subtitle popup-------------- */
.information-popup {
    grid-area: text;
    font-size: 1.6rem;
    font-weight: 400;
}

.information-popup h2 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    margin:0;
}

.information-popup p {
    margin: 0;
    line-height: 2.5rem;
}

.information-popup p a {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--secondaty-color);
}

.information-popup p a img {
    width: 30px;
    vertical-align: middle;
}

.implemented-tools,
.date-elaboration {
    display: block;
}

.implemented-tools p,
.date-elaboration p {
    display: inline-block;
    padding-left: 1rem;
}

.implemented-tools .fa-tools,
.date-elaboration .fa-calendar-alt {
    font-size: 2rem;
    vertical-align: middle;
    color: var(--secondaty-color);
}

/* ----------button page------------ */
.btn-page {
    grid-area: button;
    justify-self: flex-end;
    width: 8rem;
    height: 1.8rem;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: var(--border-radius);
    color: var(--secondary-text-color);
    background-color: var(--secondaty-color);
}

/* ------------imges popup------------- */
.image-popup {
    grid-area: image;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    border-radius: var(--border-radius);
}

.image-popup img {
    width: inherit;
    height: inherit;
}

/*------------description project popup--------------- */
.text-description-popup {
    grid-area: description;
    font-size: 1.8rem;
}

.text-description-popup h3 {
    margin: 0;
    font-size: 2rem;
}

/* ----------Certificate course popup---------- */
.additional-information h3{
    margin-bottom: 2rem;
}

.additional-information a img {
    width: 250px;
    height: auto;
}

/* --------button close popup-------- */
.btn-close-popup {
    position: absolute;
    top: .2rem;
    right: 6rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3.1rem;
    color: var(--secondary-text-color);
    background-color: red;
}

/* ---------------Certificates---------------- */
.certificates {
    padding: 2rem 0;
    background-color: var(--background-color);

}

.slider-wrapper {
    padding: 0 0 1rem;
}

.slider {
    display: flex;
    height: 300px;
    margin: 0;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
}

.img-slider {
    flex-shrink: 0;
    display: block;
    width: 341px;
    height: 232px;
    margin-right: 1rem;
    padding-top: 2rem;
    cursor: pointer;
    transition: 250ms all;
}

.img-slider:hover {
    margin: 0 4rem;
    transform: scale(1.2);
}

.slider::-webkit-scrollbar {
    width: 1rem;
    height: .6rem;
}

.slider::-webkit-scrollbar-thumb {
    visibility: hidden;
    border-radius: var(--border-radius);
    background-color: var(--secondaty-color);
}

.slider::-webkit-scrollbar-track {
    background: transparent;
}

.slider-wrapper:hover .slider::-webkit-scrollbar-thumb {
    visibility: visible;
}

/* -----------------Contact------------- */
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

/* --------------Form--------------- */
.email-contact {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.email-contact h3 {
    font-size: 1.8rem;
    margin: 0;
}

.email-contact input {
    display: block;
    width: 275px;
    height: 32px;
    border-radius: .5rem;
    outline: none;
    font-size: 1.6rem;
    padding-left: 10px;
    border: 1px solid #eee;
    box-shadow: var(--box-shadow-box);

}

.email-contact button {
    width: 120px;
    height: 35px;
    border-radius: .5rem;
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
    color: var(--secondary-text-color);
    background-color: var(--secondaty-color);
    box-shadow: var(--box-shadow-box);
}

/* ---------------icons social-------------- */
.fa-twitter:before,
.fa-github::before {
    font-size: 5rem;
    margin-left: 2rem;
    color: var(--secondaty-color);
}

.icon-platzi {
    width: 4.8rem;
    margin-left: 2rem;
    vertical-align: bottom;
}

/* -------------Footer---------------- */
.footer {
    padding: 2rem 0;
    box-shadow: -9px -3px 10px -5px rgba(25, 25, 25, 0.2);
}

.footer h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

.footer h3 span {
    text-transform: uppercase;
    font-weight: 900;
    color: var(--secondaty-color);
}

/* ----------RESPONSIVE MEDIA QUERIES----------- */
@media screen and (max-width:1024px) {

}

@media screen and (max-width:767px) {
    /* ---------Header--------- */
    .header {
        display: block;
        height: auto;
    }

    .wrapper-img-header {
        text-align: center;
    }

    .container-menu-items {
        display: initial;
    }

    .menu-item {
        height: 5rem;
    }

    .menu-item a {
        padding-left: 0;
        justify-content: center;
    }

    /* ---------Projects---------- */
    /* ---------menu projects----------- */
    .projects-main-menu {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        padding-top: 1rem;
        margin: 0 2rem 2rem;
    }

    .app-cover {
        margin-bottom: 2rem;
    }

    .portfolio-menu {
        padding-left: 0;
    }

/* -----------fulfilled projects------------- */
    .fulfilled-projects {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 2rem;
    }

    .project-wrapper {
        width: 317.984px;
        height: 196.359px;
    }

@media screen and (max-width:480px) {
    /* ---------menu projects---------- */
    .projects-main-menu {
        justify-content: space-between;
    }

    .portfolio-menu li {
        display: block;
    }

    /* -----------fulfilled projects------------- */
    .fulfilled-projects {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
    }

    .project-wrapper {
        width: 377.984px;
        height: 256.359px;
    }
}

@media screen and (max-width:320px) {
    /* -----------fulfilled projects------------- */
    .fulfilled-projects {
        margin: 0;
        grid-column-gap: 0;
    }


    .project-wrapper {
        width: 267.984px;
        height: 156.359px;
    }
}
}
